<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>

    <!-- bootstrap stylesheetは他のスタイルシートよりも上に書くこと -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style media="screen">
      h1,h2,h3,h4,h5,h6 {
        padding:1rem 0;
      }
    </style>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-light bg-white navbar-expand-md border-bottom mb-4" style="margin-bottom:30px;">
      <div class="container">
        <a href="/" class="navbar-brand">Kizr flask_platform on Heroku</a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navmenu1"
            aria-controls="navmenu1"
            aria-expanded="false"
            aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu1">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/testapp-sendline/">LINE送信</a>
            <a class="nav-item nav-link" href="/success-info/">success info送信</a>
            <a class="nav-item nav-link" href="#">ログアウト</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
          <div class="col-md-7">
            {% if success_info %}
              <div class="alert alert-success rounded pb-4 mb-4">
                {{success_info}}
              </div>
            {% endif %}

            <div class="col-md-12 bg-white border rounded pb-4 mb-4">
                  {% block body %}{% endblock %}
            </div>



          </div>
          <div class="col-md-4 offset-md-1 bg-white border rounded pb-2 mb-4">
            <h2 class="h3 block border-bottom">直近の実行結果</h2>
              {% if log_autorun |length >0 %}
                {% for item in log_autorun %}
                  <h3>{{ item[0] }}</h3>
                  <p>{{ item[1][0] }}</p>
                  <p>{{ item[1][1] }}</p>
                {% endfor %}
              {% endif %}
          </div>
      </div>
    </div>

    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
