{% extends "layout.html" %}
{% block body %}
  <h1 class="h3 block border-bottom">アプリ一覧</h1>
  <div class="">
    {% if applist |length >0 %}
      <ul>
        {% for app in applist %}
          <li>{{ app }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="">
    <form class="" action="/run/" method="post">
      <input type="hidden" name="run-bt-check" value="auto_bt_check">
      <button type="submit" class="btn btn-primary">自動体温登録実行</button>
    </form>
  </div>
{% endblock %}
